@media screen and (max-width: 400px) {
    .nav-container {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-item-container {
        flex-direction: column;
    }
}